#arena {
    position: relative;
    width: 800px;
    height: 640px;
    background: #F8F8F8;
}

canvas {
	position: absolute;
}

#ground-layer {
	z-index: 1;
}

#active-layer {
	z-index: 2;
}

#labels-layer {
	z-index: 3;
}

