#arena {
	float: left;
    position: relative;
    width: 800px;
    height: 640px;
    background: #F8F8F8;
    padding-bottom: 1em;
}

#arena > canvas {
	position: absolute;
}

#ground-layer {
	z-index: 1;
}

#active-layer {
	z-index: 2;
}

#labels-layer {
	z-index: 3;
}

#roster {
	float: left;
	margin-left: 32px;
	margin-top: 20px;
}

#note-to-self {
	clear: both;
}


/*--------------------- Status Display Widget ------------------------*/

.status-widget {
	min-width: 360px;
}
.widget-item {
	border: 1px solid rgb(220, 220, 220);
	background-color: rgba(240, 240, 240, 0.5);
	padding: 0;
	margin: 0;
}
.status-widget {
	display: grid;
	grid-template-columns: 64px repeat(4, 1fr);
	/*grid-gap: 4px;*/
	grid-auto-rows: 32px;
}
.name {
	font: bold 18px sans-serif;
}
.status {
	font: 12px sans-serif;
}
.conditionVal {
	/* color is for GOOD condition */
	border: 1px solid hsl(106, 67%, 45%);
	background-color: hsl(106, 67%, 75%);
	border-radius: 3px;
	padding: 2px;
	color: hsl(106, 67%, 25%);
	font: 10px sans-serif;
}
